{
  "presets": ["@babel/preset-react"],
  "env": {
    "test":{
      "plugins":["transform-es2015-modules-commonjs"]
    },
    "development": {
      "presets": [["@babel/preset-react", { "development": true }]]
    }
  }
}