.avatarPurchase{
    color: #fff;
    background-color: red;
}
.avatarSale{
    color: white;
    background-color: green;
}
.list{
    height: 100%;
    overflow: auto;
}
.fit--width{
    width: 100%;
}