.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color:white;
    &__input{
        background: #F2F3F7;
    }
}
button {
    margin:1rem;
    font-size: 17px;
    background-color: #0095FF;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 18px 0;
    height: 48px;
    width: 50%;
}         