.login{
    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 3rem;
        line-height: 54px;
        /* identical to box height, or 117% */
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.form__group{
    display: flex;
    justify-content: center;
    width:auto;
    padding:0 25% ;
    @media screen and (max-width: 1100px) {
        padding: 0 20%;
    }
}