#root, body, html {
    height: 100%;
    margin: 0;
    font-family: Roboto;
}

body {
    padding: 1.5rem;
    background-color: #c7c7c7;
    background-size: cover;
    color: #456078;
}
button{
    width: 12em;
    height: 60px;
    border-radius: 4px;
}
.button-white{
    /* Medium / Color 1 */
    color: #456078;
    background: #F2F3F7;
    /* Drop Shadow / Default button */
    box-shadow: 6px 6px 16px #BECDE2, -6px -6px 16px #FFFFFF;
}
.button-blue{
    background: #4070F4;
    /* Drop Shadow / Default button */
    box-shadow: 6px 6px 16px #BECDE2, -6px -6px 16px #FFFFFF;
    border-radius: 4px;
}
::selection{
    border: 1px solid #F2F3F7;
}
input{
    margin:1.5rem 0;
    padding: 2px 0 0 13px;
    width: 80%;
    height: 60px;
    /* Medium / Color 1 */
    border: 1px solid #ccc;
    background: #F2F3F7;
    /* Inner shadow / Input Form */
    box-shadow: inset 4px 4px 8px rgb(140, 147, 158), inset -5px -5px 30px #FFFFFF;
    border-radius: 4px;
}
.card--container{
    margin: 1em 0;
    padding: 0.5em 2em;
    height: 100%;
    background: #e7e7ee;
    box-shadow: 6px 6px 16px #f6f7f8, -6px -6px 16px #FFFFFF;
    border-radius: 40px;
}
::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #8C94A0;
}
.flex--row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.flex--column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flex--space-between{
    display: flex;
    justify-content: space-between;
}
.column--align-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.set--height{
    height: 70vh;
}